extends ./layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg" alt="about us image", class="img-fluid")
            .col-md-7 
                h1= page
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat rhoncus ipsum sit amet placerat. Integer maximus elit non nisl suscipit interdum. Ut nec mollis dui. Proin nec tincidunt tellus. Suspendisse potenti. Cras vel nunc pretium, laoreet ante et, aliquet magna.
                p Nulla vel dignissim dui. Aliquam auctor dictum aliquet. Proin in mi sem. Sed faucibus eros nec turpis fermentum consectetur. Donec nec fermentum tortor, nec ultricies turpis. Integer pretium eleifend aliquam. Nullam ut tristique nisl, eu fringilla lectus. Sed in magna nisi. 
                p Donec tincidunt orci ac metus consectetur venenatis. Etiam consequat diam sed sapien malesuada, at ullamcorper quam tincidunt. Curabitur ut mollis libero, in sollicitudin eros. Curabitur elit lectus, dictum vehicula cursus quis, tempus id metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    .list-icons
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                     img(src="img/icono_seguridad.svg", alt="security icon" class="img-fluid mb-4")
                     h2.mb-4 Security
                     p Vivamus enim est, scelerisque sit amet ullamcorper auctor, mollis id odio.
                .col-md-4
                     img(src="img/icono_destinos.svg", alt="destinations icon" class="img-fluid mb-4")
                     h2.mb-4 Better Destinations
                     p Vivamus enim est, scelerisque sit amet ullamcorper auctor, mollis id odio.
                .col-md-4
                     img(src="img/icono_precios.svg", alt="prices icon" class="img-fluid mb-4")
                     h2.mb-4 The best prices
                     p Vivamus enim est, scelerisque sit amet ullamcorper auctor, mollis id odio.

        