header
    div.navegation
        div.container
            div.row.justify-content-center.justify-content-md-between.align-items-center.py-4
                div.col-md-4.col-6
                    a(href="/")
                        img(src="/img/logo.svg", alt="logo svg")
                div.col-md-8    
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.nav-link(href="/trips") Trips
                        a.nav-link(href="/testimonials") Testimonials
                        a.nav-link(href="/us") About us

    